In [2]:
import numpy as np
import pandas as numpy
import ast

In [3]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [5]:
movies = movies.merge(credits,on = "title")

In [6]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [7]:
#genres
#id
#keywords
#title
#overview
#cast
#crew
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [8]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [9]:
 movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [10]:
movies.dropna(inplace=True)

In [11]:
movies.duplicated().sum()

0

In [12]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [13]:
#'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'
#['Action','Adventure','Fantacy','SciFi']

In [1]:
def convert(obj):
    name_list = []
    #to convert string of list to list
    for i in ast.literal_eval(obj):
        name_list.append(i['name'])
    return name_list

In [15]:
movies['genres'] = movies['genres'].apply(convert)

In [16]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [17]:
movies['keywords'] = movies['keywords'].apply(convert)

In [18]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [19]:

def convert_3(obj):
    name_list = []
    counter = 0
    #to convert string of list to list
    for i in ast.literal_eval(obj):
        if counter != 3 :
            name_list.append(i['name'])
            counter+=1
        else:
            break
    return name_list
#as the data is soo big we take only first 3 cast memebers

In [20]:
movies['cast'] = movies['cast'].apply(convert_3)

In [21]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [22]:
def get_Director(obj):
    name_list = []
    #to convert string of list to list
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            name_list.append(i['name'])
            break
    return name_list
        
#we only extract feature that have job = director

In [23]:
 movies['crew'] = movies['crew'].apply(get_Director)

In [24]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

In [25]:
movies['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [26]:
#as the overview is string we convert it into list soo we use it later 
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [27]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]

In [28]:
# 'Sam Worthington'
# 'SamWorthington'
#converting in order so our model dont get confuse 
#for example we require sam worthington but the model pick sam mandis

In [29]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [30]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]

In [31]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [32]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."

In [33]:
new_data = movies[['movie_id','title','tags']]
new_data.head(1)

   movie_id   title                                               tags
0     19995  Avatar  [In, the, 22nd, century,, a, paraplegic, Marin...

In [34]:
#to convert list into string

new_data['tags'] = new_data['tags'].apply(lambda x:" ".join(x))

C:\Users\Ahmad Ansari\AppData\Local\Temp\ipykernel_10952\1905604427.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['tags'] = new_data['tags'].apply(lambda x:" ".join(x))

In [35]:
new_data['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [36]:
new_data['tags'] = new_data['tags'].apply(lambda x:x.lower())

C:\Users\Ahmad Ansari\AppData\Local\Temp\ipykernel_10952\2492974546.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['tags'] = new_data['tags'].apply(lambda x:x.lower())

In [37]:
new_data.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [58]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [59]:
vectors = cv.fit_transform(new_data['tags']).toarray()

In [60]:
cv.get_feature_names()

C:\Users\Ahmad Ansari\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['000',
 '007',
 '10',
 '100',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '17th',
 '18',
 '18th',
 '18thcenturi',
 '19',
 '1910',
 '1920',
 '1930',
 '1940',
 '1944',
 '1950',
 '1950s',
 '1960',
 '1960s',
 '1970',
 '1970s',
 '1971',
 '1974',
 '1976',
 '1980',
 '1985',
 '1990',
 '1999',
 '19th',
 '19thcenturi',
 '20',
 '200',
 '2003',
 '2009',
 '20th',
 '21st',
 '23',
 '24',
 '25',
 '30',
 '300',
 '3d',
 '40',
 '50',
 '500',
 '60',
 '70',
 '80',
 'aaron',
 'aaroneckhart',
 'abandon',
 'abduct',
 'abigailbreslin',
 'abil',
 'abl',
 'aboard',
 'abov',
 'abus',
 'academ',
 'academi',
 'accept',
 'access',
 'accid',
 'accident',
 'acclaim',
 'accompani',
 'accomplish',
 'account',
 'accus',
 'ace',
 'achiev',
 'acquaint',
 'act',
 'action',
 'actionhero',
 'activ',
 'activist',
 'activities',
 'actor',
 'actress',
 'actual',
 'ad',
 'adam',
 'adamsandl',
 'adamshankman',
 'adapt',
 'add',
 'addict',
 'adjust',
 'admir',
 'admit',
 'adolesc',
 'adopt',
 'ador',
 'adrienbrodi',
 'adult',
 'adultanim',
 'adulteri',
 'adulthood',
 'advanc',
 'adventur',
 'adventure',
 'adventures',
 'advertis',
 'advic',
 'advis',
 'affair',
 'affect',
 'afghanistan',
 'africa',
 'african',
 'africanamerican',
 'aftercreditssting',
 'afterlif',
 'aftermath',
 'ag',
 'age',
 'agediffer',
 'agenc',
 'agency',
 'agenda',
 'agent',
 'agents',
 'aggress',
 'ago',
 'agre',
 'ahead',
 'aid',
 'aidanquinn',
 'ail',
 'aim',
 'air',
 'airplan',
 'airplanecrash',
 'airport',
 'aka',
 'al',
 'alabama',
 'alan',
 'alaska',
 'albert',
 'alcatraz',
 'alcohol',
 'alecbaldwin',
 'alex',
 'alexkendrick',
 'alfredhitchcock',
 'alfredmolina',
 'ali',
 'alic',
 'alice',
 'alien',
 'alieninvas',
 'alienlife',
 'alienplanet',
 'aliens',
 'alik',
 'aliv',
 'alive',
 'allen',
 'alli',
 'allianc',
 'allow',
 'alon',
 'alongsid',
 'alpacino',
 'alpha',
 'alreadi',
 'alter',
 'altern',
 'alway',
 'alyssa',
 'alzheimer',
 'amanda',
 'amandapeet',
 'amandaseyfri',
 'amateur',
 'amaz',
 'amazon',
 'ambassador',
 'ambit',
 'ambiti',
 'ambul',
 'ambush',
 'america',
 'american',
 'americanabroad',
 'americancivilwar',
 'americanfootbal',
 'americanfootballplay',
 'amid',
 'amidst',
 'amnesia',
 'amp',
 'amsterdam',
 'amus',
 'amusementpark',
 'amy',
 'amyadam',
 'amysmart',
 'ana',
 'anakin',
 'analyst',
 'anarchiccomedi',
 'ancient',
 'ancientrom',
 'ancientworld',
 'anderson',
 'andi',
 'andiemacdowel',
 'andrew',
 'android',
 'andy',
 'andygarcÃ­a',
 'angel',
 'angela',
 'angelabassett',
 'angeles',
 'angelinajoli',
 'anger',
 'angle',
 'angri',
 'ani',
 'anim',
 'animalattack',
 'animalhorror',
 'animals',
 'anjelicahuston',
 'ann',
 'anna',
 'annafari',
 'annakendrick',
 'anne',
 'annehathaway',
 'annemoss',
 'annetteben',
 'anni',
 'annie',
 'anniversari',
 'announc',
 'annual',
 'anonym',
 'anoth',
 'answer',
 'ant',
 'antholog',
 'anthoni',
 'anthonyanderson',
 'anthonyhopkin',
 'anthropomorph',
 'anti',
 'antic',
 'antihero',
 'antiqu',
 'antoinefuqua',
 'antoniobandera',
 'antonyelchin',
 'anyon',
 'anyth',
 'apart',
 'apartheid',
 'apartment',
 'ape',
 'apocalyps',
 'apocalypse',
 'apocalypt',
 'appar',
 'appear',
 'appl',
 'apple',
 'appoint',
 'appreci',
 'apprentic',
 'approach',
 'april',
 'aquarium',
 'arab',
 'arch',
 'archaeologist',
 'archeolog',
 'archer',
 'architect',
 'arctic',
 'area',
 'aren',
 'arena',
 'argument',
 'aris',
 'aristocrat',
 'arm',
 'armi',
 'armor',
 'armsdeal',
 'army',
 'arnold',
 'arnoldschwarzenegg',
 'arrang',
 'arrangedmarriag',
 'arrest',
 'arriv',
 'arrog',
 'art',
 'arthur',
 'artifact',
 'artifici',
 'artificialintellig',
 'artist',
 'ash',
 'ashley',
 'ashleyjudd',
 'ashtonkutch',
 'asia',
 'asian',
 'asid',
 'ask',
 'aspect',
 'aspir',
 'assassin',
 'assault',
 'assembl',
 'assign',
 'assist',
 'assistant',
 'associ',
 'assum',
 'asteroid',
 'astronaut',
 'asylum',
 'atheist',
 'athlet',
 'atom',
 'atomicbomb',
 'attack',
 'attacks',
 'attempt',
 'attend',
 'attent',
 'attic',
 'attitud',
 'attorney',
 'attract',
 'auction',
 'audienc',
 'audit',
 'august',
 'aunt',
 'austin',
 'australia',
 'australian',
 'author',
 'autism',
 'auto',
 'automobilerac',
 'aveng',
 'averag',
 'avoid',
 'await',
 'awak',
 'awaken',
 'awar',
 'award',
 'away',
 'awkward',
 'awri',
 'awry',
 'ax',
 'babe',
 'babi',
 'baby',
 'bachelor',
 'backdrop',
 'background',
 'backpack',
 'bad',
 'bag',
 'bahama',
 'bail',
 'balanc',
 'ball',
 'ballet',
 'balloon',
 'baltimor',
 'ban',
 'band',
 'bandit',
 'bangkok',
 'banish',
 'bank',
 'banker',
 'bankrobb',
 'bankrobberi',
 'bar',
 'barbrastreisand',
 'bare',
 'bargain',
 'barn',
 'barney',
 'baron',
 'barri',
 'barrylevinson',
 'barrysonnenfeld',
 'bas',
 'base',
 'basebal',
 'basedoncomicbook',
 'basedongraphicnovel',
 'basedonnovel',
 'basedonplay',
 'basedonstagemus',
 'basedontrueev',
 'basedontruestori',
 'basedontvseri',
 'basedonvideogam',
 'basedonyoungadultnovel',
 'basement',
 'basketbal',
 'basketball',
 'bat',
 'batman',
 'battl',
 'battle',
 'battlefield',
 'bay',
 'beach',
 'beam',
 'bear',
 'beard',
 'beast',
 'beat',
 'beauti',
 'beautiful',
 'beautifulwoman',
 'beauty',
 'becam',
 'becaus',
 'becki',
 'becom',
 'becominganadult',
 'bed',
 'bedroom',
 'bee',
 'beer',
 'befor',
 'befriend',
 'began',
 'begin',
 'begins',
 'behavior',
 'belief',
 'believ',
 'bell',
 'bella',
 'belong',
 'belov',
 'ben',
 'benaffleck',
 'bend',
 'beneath',
 'benefit',
 'benfost',
 'beniciodeltoro',
 'benjamin',
 'benjaminbratt',
 'benkingsley',
 'bennett',
 'benstil',
 'bent',
 'berlin',
 'best',
 'bestfriend',
 'bestfriendsinlov',
 'bet',
 'beth',
 'betray',
 'bettemidl',
 'better',
 'betti',
 'beverli',
 'bibl',
 'bid',
 'big',
 'bigger',
 'biggest',
 'bike',
 'biker',
 'bikini',
 'billhad',
 'billi',
 'billionair',
 'billmurray',
 'billnighi',
 'billpaxton',
 'billpullman',
 'billybobthornton',
 'billycrudup',
 'billycryst',
 'biographi',
 'biolog',
 'bird',
 'birth',
 'birthday',
 'bisexu',
 'bishop',
 'bit',
 'bite',
 'bitter',
 'bizarr',
 'black',
 'blackmag',
 'blackmail',
 'blackpeopl',
 'blacksmith',
 'blade',
 'blame',
 'blend',
 'blind',
 'bliss',
 'blizzard',
 'block',
 'blond',
 'blood',
 'bloodi',
 'bloodsplatt',
 'bloodthirsti',
 'blow',
 'blue',
 'board',
 'boardingschool',
 'boat',
 'bob',
 'bobbi',
 'bobbyfarrelli',
 'bobhoskin',
 'bodi',
 'body',
 'bodyguard',
 'bold',
 'bollywood',
 'bomb',
 'bond',
 'bone',
 'book',
 'border',
 'bore',
 'boredom',
 'born',
 'boss',
 'boston',
 'botch',
 'bound',
 'boundari',
 'bounti',
 'bountyhunt',
 'bout',
 'box',
 'boxer',
 'boy',
 'boyfriend',
 'boys',
 'bradleycoop',
 'bradpitt',
 'brain',
 'brainwash',
 'brand',
 'brandon',
 'brave',
 'braveri',
 'brazil',
 'brazilian',
 'break',
 'breakdown',
 'breast',
 'breath',
 'breed',
 'brendanfras',
 'brendangleeson',
 'brent',
 'brettratn',
 'brian',
 'briandepalma',
 'bride',
 'bridesmaid',
 'bridg',
 'brief',
 'brielarson',
 'brien',
 'bright',
 'brilliant',
 'bring',
 'brink',
 'britain',
 'british',
 'britishsecretservic',
 'brittanymurphi',
 'broadcast',
 'broadway',
 'broke',
 'broken',
 'broker',
 'bronx',
 'brook',
 'brooklyn',
 'broom',
 'brothel',
 'brother',
 'brotherbrotherrelationship',
 'brothers',
 'brothersisterrelationship',
 'brought',
 'brown',
 'bruce',
 'brucegreenwood',
 'brucewilli',
 'brutal',
 'bryansing',
 'bu',
 'buck',
 'bud',
 'buddi',
 'buddy',
 'buddycomedi',
 'buddycop',
 'budget',
 'build',
 'building',
 'built',
 'bullet',
 'bulli',
 'bumbl',
 'bunch',
 'bunker',
 'bunni',
 'burglar',
 'buri',
 'burn',
 'bush',
 'busi',
 'business',
 'businessman',
 'bust',
 'butcher',
 'butler',
 'butt',
 'button',
 'buy',
 'buzz',
 'cabin',
 'caesar',
 'cage',
 'cairo',
 'cal',
 'california',
 'calvin',
 'camcord',
 'came',
 'camera',
 'cameraman',
 'camerondiaz',
 'camp',
 'campaign',
 'campbell',
 'campu',
 'canada',
 'canadian',
 'cancer',
 'candi',
 'candid',
 'canin',
 'cannib',
 'canuxploit',
 'capabl',
 'caper',
 'capit',
 'capt',
 'captain',
 'captiv',
 'captur',
 'capture',
 'car',
 'caraccid',
 'carchas',
 'carcrash',
 'card',
 'care',
 'career',
 'carefre',
 'caretak',
 'careymulligan',
 'caribbean',
 'carjourney',
 'carl',
 'carlagugino',
 'carmen',
 'carol',
 'carolina',
 'carrac',
 'carri',
 'carrie',
 'cartel',
 'carter',
 'cartoon',
 'caryelw',
 'case',
 'caseyaffleck',
 'cash',
 'casino',
 'cast',
 'castl',
 'cat',
 'cataclysm',
 'catastroph',
 'catch',
 'cateblanchett',
 'catherinedeneuv',
 'catherinekeen',
 'catherinezeta',
 'cathol',
 'catholic',
 'cattl',
 'caught',
 'caus',
 'cavalri',
 'cave',
 'cavemen',
 'celebr',
 'celebration',
 'cell',
 'cellphon',
 'cemeteri',
 'center',
 'centr',
 'central',
 'centuri',
 'centuries',
 'century',
 'ceo',
 'certain',
 'chad',
 'chain',
 'chainsaw',
 'challeng',
 'chamber',
 'champion',
 'championship',
 'chanc',
 'chance',
 'chang',
 'change',
 'changed',
 'changes',
 'channingtatum',
 'chao',
 'chaos',
 'chaotic',
 'chapter',
 'charact',
 'character',
 'characters',
 'charg',
 'charismat',
 'charl',
 'charli',
 'charlie',
 'charliesheen',
 'charlizetheron',
 'charm',
 'chart',
 'chase',
 'chauffeur',
 'chazzpalminteri',
 'cheat',
 'check',
 'cheerlead',
 'chef',
 'chemic',
 'cher',
 'chevychas',
 'chicago',
 'chicken',
 'chief',
 'child',
 'childabus',
 'childhero',
 'childhood',
 'childprodigi',
 'children',
 'chill',
 'chimp',
 'china',
 'chines',
 'chip',
 'chipmunk',
 'chiwetelejiofor',
 'chloe',
 'chloÃ«gracemoretz',
 'chloÃ«sevigni',
 'chocol',
 'choic',
 'choice',
 'choos',
 'chosen',
 'chowyun',
 'chri',
 'chriscolumbu',
 'chriscoop',
 'chrisevan',
 'chrishemsworth',
 'chrisklein',
 'chrispin',
 'chrisrock',
 'christ',
 'christian',
 'christianbal',
 'christianslat',
 'christin',
 'christinaappleg',
 'christinaricci',
 'christma',
 'christmas',
 'christmasparti',
 'christmastre',
 'christoph',
 'christopherlambert',
 'christopherlloyd',
 'christophernolan',
 'christopherplumm',
 'christopherwalken',
 'christophwaltz',
 'chrisweitz',
 'chronicl',
 'chuck',
 'church',
 'cia',
 'ciarÃ¡nhind',
 'cigarettesmok',
 'cillianmurphi',
 'cinema',
 'circl',
 'circu',
 'circuit',
 'circumst',
 'citi',
 'citizen',
 'city',
 'civil',
 'civilian',
 'civilwar',
 'claim',
 'clair',
 'clairedan',
 'claireforlani',
 'clan',
 'clark',
 'clash',
 'class',
 'classdiffer',
 'classic',
 'classmat',
 'classroom',
 'claudevandamm',
 'clay',
 'clean',
 'clear',
 'clerk',
 'clever',
 'client',
 'clients',
 'cliff',
 'climat',
 'climb',
 'clinteastwood',
 'cliveowen',
 'clock',
 'clone',
 'close',
 'closer',
 'cloud',
 'clown',
 'club',
 'clue',
 'clueless',
 'clutch',
 'coach',
 'coast',
 'cocain',
 'code',
 'coffin',
 'cohen',
 'col',
 'cold',
 'coldwar',
 'cole',
 'colin',
 'colinfarrel',
 'colinfirth',
 'collaps',
 'colleagu',
 'collect',
 'collector',
 'colleg',
 'college',
 'collid',
 'collis',
 'colombia',
 'colonel',
 'coloni',
 'color',
 'colorado',
 'coma',
 'combat',
 'combin',
 'come',
 'comeback',
 'comed',
 'comedi',
 'comedian',
 'comedy',
 'comet',
 'comfort',
 'comic',
 'coming',
 'comingofag',
 'comingout',
 'command',
 'commando',
 'commerci',
 'commiss',
 'commit',
 'common',
 'commun',
 'communist',
 'community',
 'compani',
 'companion',
 'company',
 'compet',
 'competit',
 'competition',
 'complet',
 'complex',
 'complic',
 'compos',
 'compuls',
 'comput',
 'computerviru',
 'conan',
 'concern',
 'concert',
 'concoct',
 'condit',
 'condition',
 'conduct',
 'confeder',
 'confess',
 'confid',
 'confin',
 'conflict',
 'confront',
 'confus',
 'congress',
 'conman',
 'connect',
 'connecticut',
 'connel',
 'connor',
 'conquer',
 'consequ',
 'consequences',
 'conserv',
 'consid',
 'conspir',
 'conspiraci',
 'conspiracy',
 'constant',
 'constantli',
 'construct',
 'consum',
 'contact',
 'contain',
 'contemporari',
 'contend',
 'content',
 'contest',
 'continu',
 'contract',
 'contractor',
 'control',
 'controversi',
 'convent',
 'converg',
 'convers',
 'convict',
 'convinc',
 'cook',
 ...]

In [41]:
#['loved' ,'loveing' ,'Love']
#['love' ,'love' ,'Love']
#we need to do stemming

In [42]:
import nltk

In [43]:
from nltk.stem.porter import PorterStemmer

In [61]:
ps = PorterStemmer()

In [62]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [63]:
new_data['tags'] = new_data['tags'].apply(stem)

C:\Users\Ahmad Ansari\AppData\Local\Temp\ipykernel_10952\1214595124.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['tags'] = new_data['tags'].apply(stem)

In [47]:
cv.get_feature_names()

['000',
 '10',
 '12',
 '1950s',
 '1960s',
 '1970s',
 '20',
 '3d',
 'abandoned',
 'accident',
 'accidentally',
 'act',
 'action',
 'actor',
 'actually',
 'adultery',
 'adventure',
 'adventures',
 'affair',
 'africa',
 'african',
 'aftercreditsstinger',
 'age',
 'agent',
 'aging',
 'ago',
 'agrees',
 'airplane',
 'alcohol',
 'alcoholic',
 'alex',
 'alice',
 'alien',
 'alive',
 'america',
 'american',
 'ancient',
 'angeles',
 'animal',
 'animation',
 'apart',
 'apartment',
 'apocalyptic',
 'armed',
 'army',
 'arrives',
 'art',
 'artist',
 'arts',
 'assassin',
 'assassination',
 'assigned',
 'assignment',
 'assistant',
 'astronaut',
 'attack',
 'attempt',
 'attempts',
 'author',
 'away',
 'baby',
 'bad',
 'band',
 'bank',
 'bar',
 'baseball',
 'based',
 'basedoncomicbook',
 'basedonnovel',
 'basedontruestory',
 'basedonyoungadultnovel',
 'basketball',
 'battle',
 'beach',
 'bear',
 'beautiful',
 'beauty',
 'begin',
 'begins',
 'believe',
 'believes',
 'beloved',
 'ben',
 'benstiller',
 'berlin',
 'best',
 'bestfriend',
 'betrayal',
 'better',
 'big',
 'biography',
 'birthday',
 'black',
 'blackmail',
 'blood',
 'body',
 'bomb',
 'bond',
 'book',
 'born',
 'boss',
 'boy',
 'boyfriend',
 'boys',
 'break',
 'bring',
 'brings',
 'british',
 'brother',
 'brotherbrotherrelationship',
 'brothers',
 'brothersisterrelationship',
 'brucewillis',
 'brutal',
 'buddy',
 'building',
 'business',
 'businessman',
 'california',
 'called',
 'camp',
 'cancer',
 'captain',
 'capture',
 'car',
 'care',
 'career',
 'case',
 'casino',
 'cast',
 'cat',
 'caught',
 'cause',
 'century',
 'chance',
 'change',
 'changes',
 'chaos',
 'characters',
 'charlie',
 'chase',
 'chicago',
 'child',
 'childhood',
 'children',
 'china',
 'christian',
 'christmas',
 'church',
 'cia',
 'city',
 'class',
 'classic',
 'clinteastwood',
 'close',
 'club',
 'coach',
 'college',
 'come',
 'comedy',
 'comes',
 'coming',
 'comingofage',
 'community',
 'company',
 'competition',
 'complete',
 'complicated',
 'computer',
 'confront',
 'conspiracy',
 'control',
 'cop',
 'cops',
 'corporate',
 'corporation',
 'corrupt',
 'corruption',
 'country',
 'couple',
 'courage',
 'course',
 'court',
 'cover',
 'crash',
 'creature',
 'creatures',
 'crew',
 'crime',
 'criminal',
 'criminals',
 'crisis',
 'cross',
 'crush',
 'curse',
 'dad',
 'dance',
 'dancer',
 'dancing',
 'danger',
 'dangerous',
 'danny',
 'dark',
 'date',
 'daughter',
 'david',
 'day',
 'days',
 'dead',
 'deadly',
 'deal',
 'dealer',
 'death',
 'deception',
 'decide',
 'decides',
 'deep',
 'demon',
 'desert',
 'desperate',
 'despite',
 'destroy',
 'destruction',
 'detective',
 'determined',
 'dies',
 'different',
 'director',
 'disappearance',
 'disaster',
 'discover',
 'discovers',
 'discovery',
 'divorce',
 'doctor',
 'documentary',
 'does',
 'doesn',
 'dog',
 'don',
 'door',
 'dr',
 'dragon',
 'drama',
 'drawn',
 'dream',
 'dreams',
 'driver',
 'drug',
 'drugs',
 'duringcreditsstinger',
 'dying',
 'dyinganddeath',
 'dystopia',
 'early',
 'earth',
 'east',
 'eccentric',
 'elite',
 'embark',
 'embarks',
 'encounter',
 'encounters',
 'end',
 'ends',
 'enemy',
 'england',
 'english',
 'enter',
 'entire',
 'epic',
 'escape',
 'escapes',
 'especially',
 'estranged',
 'eve',
 'events',
 'eventually',
 'evil',
 'ex',
 'executive',
 'existence',
 'experience',
 'experiment',
 'explosion',
 'eye',
 'eyes',
 'face',
 'faces',
 'faith',
 'fall',
 'falls',
 'fame',
 'family',
 'famous',
 'fantasy',
 'far',
 'farm',
 'fast',
 'fate',
 'father',
 'fathersonrelationship',
 'fbi',
 'fbiagent',
 'fear',
 'fellow',
 'female',
 'femalenudity',
 'fight',
 'fighting',
 'fights',
 'figure',
 'film',
 'final',
 'finally',
 'finding',
 'finds',
 'flashback',
 'florida',
 'follow',
 'following',
 'follows',
 'food',
 'football',
 'force',
 'forced',
 'forces',
 'foreign',
 'forest',
 'forever',
 'form',
 'fortune',
 'france',
 'frank',
 'free',
 'freedom',
 'french',
 'friend',
 'friends',
 'friendship',
 'fun',
 'funeral',
 'future',
 'game',
 'games',
 'gang',
 'gangster',
 'gay',
 'general',
 'genius',
 'george',
 'georgeclooney',
 'gets',
 'getting',
 'ghost',
 'girl',
 'girlfriend',
 'girls',
 'gives',
 'global',
 'god',
 'goes',
 'going',
 'gold',
 'gone',
 'good',
 'gore',
 'got',
 'government',
 'great',
 'greatest',
 'green',
 'group',
 'growing',
 'grown',
 'grows',
 'guard',
 'gun',
 'guy',
 'guys',
 'half',
 'hand',
 'hands',
 'happens',
 'happy',
 'hard',
 'harry',
 'having',
 'head',
 'heads',
 'heart',
 'heist',
 'helicopter',
 'hell',
 'help',
 'henry',
 'hero',
 'high',
 'highschool',
 'hip',
 'hired',
 'history',
 'hit',
 'hitman',
 'hits',
 'hold',
 'holiday',
 'hollywood',
 'home',
 'hometown',
 'hop',
 'hope',
 'hopes',
 'horror',
 'horse',
 'hospital',
 'hostage',
 'hot',
 'hotel',
 'house',
 'human',
 'humanity',
 'humans',
 'hunt',
 'hunter',
 'husband',
 'ice',
 'idea',
 'identity',
 'ii',
 'impossible',
 'including',
 'increasingly',
 'independentfilm',
 'india',
 'indian',
 'infidelity',
 'innocent',
 'inside',
 'instead',
 'intelligence',
 'international',
 'inventor',
 'investigate',
 'investigation',
 'involved',
 'irish',
 'island',
 'isn',
 'jack',
 'jackson',
 'jail',
 'james',
 'japan',
 'japanese',
 'jason',
 'jealousy',
 'jean',
 'jewish',
 'jim',
 'jimmy',
 'job',
 'joe',
 'john',
 'johnnydepp',
 'join',
 'joins',
 'jones',
 'journalist',
 'journey',
 'jungle',
 'just',
 'justice',
 'kevin',
 'key',
 'kid',
 'kidnapped',
 'kidnapping',
 'kids',
 'kill',
 'killed',
 'killer',
 'killers',
 'killing',
 'king',
 'kingdom',
 'knight',
 'know',
 'known',
 'knows',
 'la',
 'lake',
 'land',
 'late',
 'later',
 'latest',
 'law',
 'lawyer',
 'lead',
 'leader',
 'leading',
 'leads',
 'learn',
 'learns',
 'leave',
 'leaves',
 'leaving',
 'led',
 'lee',
 'left',
 'legend',
 'legendary',
 'letter',
 'lie',
 'lies',
 'life',
 'like',
 'line',
 'little',
 'live',
 'lives',
 'living',
 'll',
 'local',
 'london',
 'londonengland',
 'long',
 'look',
 'looking',
 'looks',
 'lord',
 'los',
 'losangeles',
 'lose',
 'loses',
 'losing',
 'loss',
 'lost',
 'love',
 'loveofone',
 'lover',
 'lovers',
 'loves',
 'luck',
 'machine',
 'mafia',
 'magic',
 'magical',
 'major',
 'make',
 'makes',
 'making',
 'male',
 'man',
 'manager',
 'manhattan',
 'mark',
 'marriage',
 'married',
 'martialarts',
 'martin',
 'marvelcomic',
 'master',
 'mattdamon',
 'max',
 'means',
 'meet',
 'meets',
 'member',
 'members',
 'memory',
 'men',
 'mexican',
 'mexico',
 'michael',
 'middle',
 'mike',
 'military',
 'million',
 'mind',
 'missing',
 'mission',
 'mob',
 'modern',
 'mom',
 'money',
 'monster',
 'months',
 'moon',
 'mother',
 'moves',
 'movie',
 'mr',
 'murder',
 'murdered',
 'murderer',
 'music',
 'musical',
 'musician',
 'mutant',
 'mysterious',
 'mystery',
 'named',
 'national',
 'nature',
 'nazis',
 'near',
 'nearly',
 'need',
 'needs',
 'neighbor',
 'neighborhood',
 'neo',
 'new',
 'newlove',
 'news',
 'newyork',
 'newyorkcity',
 'nick',
 'nicolascage',
 'night',
 'nightclub',
 'nightmare',
 'north',
 'notorious',
 'novel',
 'nuclear',
 'nudity',
 'nurse',
 'obsession',
 'ocean',
 'office',
 'officer',
 'old',
 'older',
 'operation',
 'opportunity',
 'order',
 'ordinary',
 'organization',
 'orphan',
 'overcome',
 'owner',
 'pair',
 'parents',
 'paris',
 'park',
 'partner',
 'party',
 'passion',
 'past',
 'path',
 'paul',
 'peace',
 'people',
 'perfect',
 'person',
 'personal',
 'peter',
 'pilot',
 'pirate',
 'place',
 'plan',
 'plane',
 'planet',
 'plans',
 'play',
 'player',
 'playing',
 'plays',
 'plot',
 'police',
 'political',
 'politics',
 'popular',
 'post',
 'power',
 'powerful',
 'powers',
 'pregnant',
 'president',
 'prevent',
 'priest',
 'prince',
 'princess',
 'prison',
 'private',
 'problem',
 'problems',
 'process',
 'producer',
 'professional',
 'professor',
 'prostitute',
 'protect',
 'prove',
 'psychiatrist',
 'psychopath',
 'puts',
 'queen',
 'quest',
 'question',
 'quickly',
 'race',
 'radio',
 'raised',
 'rape',
 'ray',
 'ready',
 'real',
 'reality',
 'realize',
 'realizes',
 'really',
 'recently',
 'red',
 'relationship',
 'relationships',
 'remake',
 'remote',
 'reporter',
 'rescue',
 'resistance',
 'rest',
 'restaurant',
 'retired',
 'return',
 'returns',
 'reunite',
 'revenge',
 'rich',
 'richard',
 'right',
 'ring',
 'rise',
 'rival',
 'rivalry',
 'road',
 'robbery',
 'robert',
 'robertdeniro',
 'robot',
 'rock',
 'role',
 'romance',
 'romantic',
 'romanticcomedy',
 'room',
 'run',
 'running',
 'runs',
 'russian',
 'ruthless',
 'ryan',
 'safe',
 'sam',
 'samuell',
 'san',
 'save',
 'savingtheworld',
 'scene',
 'scheme',
 'school',
 'sciencefiction',
 'scientist',
 'scott',
 'sea',
 'search',
 'second',
 'secret',
 'secretidentity',
 'secrets',
 'security',
 'seek',
 'seeking',
 'seemingly',
 'seen',
 'sees',
 'self',
 'sends',
 'sent',
 'sequel',
 'serial',
 'serialkiller',
 'series',
 'service',
 'set',
 'sets',
 'seven',
 'sex',
 'sexual',
 'share',
 'shark',
 'sheriff',
 'ship',
 'shootout',
 'shop',
 'shot',
 'shows',
 'singer',
 'single',
 'sister',
 'sistersisterrelationship',
 'situation',
 'skills',
 'slasher',
 'slave',
 'slife',
 'small',
 'smalltown',
 'smith',
 'snow',
 'social',
 'society',
 'soldier',
 'soldiers',
 'son',
 'soon',
 'soul',
 'south',
 'space',
 'special',
 'spirit',
 'spoof',
 'sport',
 'spy',
 'stand',
 'star',
 'stars',
 'start',
 'starts',
 'state',
 'states',
 'stay',
 'steal',
 'steve',
 'stolen',
 'stop',
 'store',
 'stories',
 'storm',
 'story',
 'stranded',
 'strange',
 'stranger',
 'street',
 'streets',
 'struggle',
 'struggles',
 'struggling',
 'student',
 'students',
 'success',
 'successful',
 'suddenly',
 'suicide',
 'summer',
 'super',
 'superhero',
 'supernatural',
 'superpowers',
 'survival',
 'survive',
 'survivors',
 'suspense',
 'taken',
 'takes',
 'taking',
 'tale',
 'talent',
 'target',
 'teacher',
 'team',
 'teams',
 'technology',
 'teen',
 'teenage',
 'teenager',
 'television',
 'tells',
 'terrifying',
 'terror',
 'terrorist',
 'test',
 'texas',
 'thief',
 'thing',
 'things',
 'thinks',
 'thought',
 'threatens',
 'thriller',
 'time',
 'times',
 'timetravel',
 'told',
 'tom',
 'tomhanks',
 'torture',
 'tough',
 'tour',
 'town',
 'track',
 'tragedy',
 'train',
 'training',
 'trapped',
 'travel',
 'travels',
 'tries',
 'trip',
 'trouble',
 'troubled',
 'true',
 'truth',
 'try',
 'trying',
 'turn',
 'turned',
 'turns',
 'tv',
 'ultimate',
 'ultimately',
 'uncle',
 'uncover',
 'undercover',
 'underground',
 'underworld',
 'unexpected',
 'united',
 'university',
 'unlikely',
 'upside',
 'usa',
 'usapresident',
 'use',
 'uses',
 'using',
 'vacation',
 'vampire',
 'van',
 'various',
 've',
 'vegas',
 'veteran',
 'victim',
 'video',
 'village',
 'villain',
 'violence',
 'violent',
 'virus',
 'visit',
 'waitress',
 'want',
 'wants',
 'war',
 'warrior',
 'water',
 'way',
 'ways',
 'wealthy',
 'weapon',
 'wedding',
 'werewolf',
 'west',
 'western',
 'white',
 'widow',
 'wife',
 'wifehusbandrelationship',
 'wild',
 'wilderness',
 'win',
 'winning',
 'winter',
 'witch',
 'witness',
 'woman',
 'womandirector',
 'women',
 'won',
 'woods',
 'woodyallen',
 'work',
 'worker',
 'working',
 'works',
 'world',
 'worldwarii',
 'worse',
 'writer',
 'wrong',
 'year',
 'years',
 'york',
 'young',
 'younger',
 'youth',
 'zombie']

In [64]:
len(new_data['tags'])

4806

In [65]:
import numpy as np

def cosine_similarity(vectors):
    """
    Calculate the cosine similarity between all pairs of vectors.
    
    Args:
    vectors (list of np.ndarray): List of input vectors.
    
    Returns:
    np.ndarray: 2D array containing cosine similarities between all pairs of vectors.
    """
    num_vectors = len(vectors)
    similarities = np.zeros((num_vectors, num_vectors))
    for i in range(num_vectors):
        for j in range(num_vectors):
            if i == j:
                similarities[i, j] = 1.0
            else:
                similarities[i, j] = np.dot(vectors[i], vectors[j]) / (np.linalg.norm(vectors[i]) * np.linalg.norm(vectors[j]))
    return similarities

In [66]:
similarity = cosine_similarity(vectors)

In [67]:
similarity[0]

array([1.        , 0.08346223, 0.0860309 , ..., 0.04499213, 0.        ,
       0.        ])

In [68]:
new_data

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bondâ€™ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."
...,...,...,...
4804,9367,El Mariachi,el mariachi just want to play hi guitar and ca...
4805,72766,Newlyweds,a newlyw couple' honeymoon is upend by the arr...
4806,231617,"Signed, Sealed, Delivered","""signed, sealed, delivered"" introduc a dedic q..."
4807,126186,Shanghai Calling,when ambiti new york attorney sam is sent to s...
4808,25975,My Date with Drew,ever sinc the second grade when he first saw h...

In [69]:
def recommender(movie):
    movie_index = new_data[new_data['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse = True,key = lambda x:x[1])[1:6]
    
    for i in movies_list:
        #print(i[0])
        print(new_data.iloc[i[0]].title)
#we are doing enumerate because if we sort the similarity array with 
#the movie input this may give us the most similar movies
#but we might loss the index of these movies so we use enumirate function to
#add indexes with them and then we use these index to get how much a movie is similar to other
#movies , here we are picking top 5 movies similar with it to recomend it later

In [70]:
recommender('Avatar')

Aliens vs Predator: Requiem
Aliens
Falcon Rising
Independence Day
Titan A.E.

In [55]:
import pickle

In [74]:
new_data.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bondâ€™ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."

In [56]:
pickle.dump(new_data,open('movies.pkl','wb'))

In [73]:
pickle.dump(new_data.to_dict(),open('movies_dict.pkl','wb'))

In [72]:
pickle.dump(similarity,open('similarity.pkl','wb'))